*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:#002f66;
}
header{
    color: white;
    text-align: center;
    font-size: 30px;
}
section{
    width: 500px;
    height: 200px;
    margin: auto;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.521);
    border-radius: 15px;
}
#p1{
    padding: 14px;
    text-align: center;
    font-size: 20px;
}
#div1,#div2{
    padding-left: 10px;
    padding-top: 10px;
}
#div1, #div2, a:hover{
     color: rgb(189, 5, 36);
}
#div1, #div2, a:link{ 
    text-decoration: none;
}
